<div>
    <div>
        <img src="" alt="Nerdle logo">
    </div>
    <div>
        <h1>Nerdle</h1>
        <h2>5 Chances to guess a 4-letter word</h2>
    </div>
    <div>
        <button id="Login">Login</button>
    </div>

</div>