<link
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
  rel="stylesheet"
/>
<body class="w-50px h-50px" style="background-image: url('img/white-wooden-texture-flooring-background.jpg')" />

<div class="flex flex-col min-h-screen justify-center items-center">
  <div class="justify-center">
    <img class="w-100"src="img/nerdlelogo.jpeg" alt="Nerdle logo" />
    <br />
  </div>
  <div class="justify-center items-center">
    <h1 class="justify-center items-center">Nerdle</h1>
    <br />
    <h2 class="">5 Chances to guess a 4-letter word</h2>
  </div>
  <br />
  <div>
    <button
      class="h-18 px-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
      id="Login"
    >Login</button>
  </div>

</div>