body.my-background-class {
    /* Adjust for background size and repeat */
    background-image: url('/public/img/panelbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
}

